body {
	font-family: 'Montserrat', sans-serif;
}
header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

#banner {
	width:100%;
}

.principal{
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.titulo-principal {
	text-align: center;
	padding-left: 20px;
	font-size: 30px;
	font-weight: bold;
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: black;
}

.titulo-beneficios {
	text-align: center;
	padding-left: 20px;
	font-size: 28px;
	font-weight: bold;

}

.beneficios {
	padding: 3em 0;
	
}
.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	list-style-type: square;
}

.itens {
	line-height: 1.5em;
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px #000000
}

.imagem-beneficios:hover {
	transform: scale(1.1);
	

}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}